*.o
*.a
.mode
.updated
camera_out.jpg
camera_out.jpg.wav
cubesatsim
id.txt
log.txt
morse.wav
sim.cfg
sstv_image_1_320_x_256.jpg
sstv_image_1_320_x_256.jpg.wav
sstv_image_2_320_x_256.jpg
sstv_image_2_320_x_256.jpg.wav
t.txt
telem
telem.wav
