[Unit]
Description=Command service

[Service]
TimeoutStopSec=5
ExecStart=/home/pi/CubeSatSim/command
WorkingDirectory=/home/pi/CubeSatSim
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
CPUQuota=50%
CPUWeight=50

[Install]
WantedBy=default.target
