[Unit]
Description=CubeSatSim demo service

[Service]
TimeoutStopSec=5
EnvironmentFile=/home/pi/CubeSatSim/.mode
ExecStart=/home/pi/CubeSatSim/demo.sh $ARG1
WorkingDirectory=/home/pi/CubeSatSim
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
CPUAccounting=true
CPUQuota=2.5%

[Install]
WantedBy=default.target
