[Unit]
Description=CubeSatSim service

[Service]
TimeoutStopSec=5
ExecStart=/home/pi/CubeSatSim/cubesatsim
WorkingDirectory=/home/pi/CubeSatSim
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
CPUAccounting=true
CPUQuota=5%

[Install]
WantedBy=default.target
