[Unit]
Description=camera service

[Service]
TimeoutStopSec=5
ExecStart=/home/pi/CubeSatSim/flight.sh
WorkingDirectory=/home/pi/CubeSatSim
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=default.target
