[Unit]
Description=My last command
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/CubeSatSim/demo.sh > /home/pi/CubeSatSim/log.txt 2>&1

[Install]
WantedBy=custom.target
