[Unit]
Description=My last command
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/CubeSatSim/demo.sh

[Install]
WantedBy=custom.target
