[Unit]
Description=CubeSatSim rpitx service

[Service]
TimeoutStopSec=5
ExecStart=python3 -u /home/pi/CubeSatSim/rpitx.py
WorkingDirectory=/home/pi/CubeSatSim
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=default.target
