[Unit]
Description=CubeSatSim rpitx service

[Service]
TimeoutStopSec=5
EnvironmentFile=/home/pi/CubeSatSim/.mode
ExecStart=/home/pi/CubeSatSim/rpitx.sh $ARG1
WorkingDirectory=/home/pi/CubeSatSim
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=default.target
