[Unit]
Description=Test service

[Service]
EnvironmentFile=/home/pi/CubeSatSim/.progconfig
ExecStart=/home/pi/CubeSatSim/radioafsk $ARG1 $ARG2
WorkingDirectory=/home/pi/CubeSatSim
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=default.target
