[Desktop Entry]
Name=APRS Decode using Direwolf
GenericName=Decodes APRS using rtl_fm and Direwolf
Comment=APRS signals
Exec=/home/pi/CubeSatSim/groundstation/aprs.sh
Icon=/home/pi/Icons/aprs.png
Terminal=true
Type=Application
Categories=HamRadio;
Keywords=APRS;ISS;
