[Desktop Entry]
Type=Application
Exec=/home/pi/cubicsdr.sh
Name=SDR FM Broadcast
Comment=CubicSDR FM Broadcast 
Icon=/home/pi/Downloads/cubicsdr.png
Path=/home/pi
Terminal=true
Categories=HamRadio
Keywords=Ham Radio;SDR
