[Desktop Entry]
Type=Application
Exec=/home/pi/CubeSatSim/groundstation/fctelem.sh
Name=FUNcube Telem
Comment=FUNcube Telemetry Web App 
Icon=/home/pi/Icons/fc-icon.png
Path=/home/pi
Terminal=true
Categories=HamRadio
Keywords=Ham Radio;SDR
