[Desktop Entry]
Type=Application
Exec=/home/pi/CubeSatSim/groundstation/fox-download.sh
Name=FoxTelem Download
Comment=FIAB-v3
Icon=/home/pi/Icons/FoxTelemDownload.png
Path=/home/pi
Terminal=true
Categories=HamRadio
Keywords=Ham Radio;AMSAT
