[Desktop Entry]
Type=Application
Exec=/home/pi/CubeSatSim/groundstation/fox.sh
Name=FoxTelem
Comment=Test Version 1.09 for CubeSatSim
Icon=/home/pi/Downloads/foxtelem.png
Path=/home/pi
#Terminal=true
Categories=HamRadio
Keywords=Ham Radio;AMSAT
