[Desktop Entry]
Type=Application
Exec=/home/pi/CubeSatSim/groundstation/gpredict.sh
Name=Gpredict
Comment=ISS and Satellite Tracking for ARISS Radio Pi
Icon=/home/pi/Icons/gpredict.png
Path=/home/pi
Terminal=false
Categories=HamRadio
Keywords=Ham Radio;AMSAT
