[Desktop Entry]
Type=Application
Exec=/home/pi/gqrx.sh
Name=Gqrx
Comment=Gqrx SDR
Icon=/home/pi/Downloads/gqrx.png
Path=/home/pi
Terminal=true
Categories=HamRadio
Keywords=Ham Radio;Gqrx;SDR
