[Desktop Entry]
Type=Application
Exec=/home/pi/CubeSatSim/groundstation/rtl-tcp.sh
Name=RTL-TCP
Comment=RTL-TCP for SDR#
Icon=/home/pi/Downloads/rtl-sdr.jpeg
Path=/home/pi
Terminal=true
Categories=HamRadio
Keywords=Ham Radio;RTL-SDR
