[Unit]
Description=RTL-TCP

[Service]
ExecStart=/usr/local/bin/rtl_tcp -a $(hostname -I|cut -f1 -d " ")
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=default.target
