  
[Desktop Entry]
Type=Application
Exec=/home/pi/sdr-2m.sh
Name=SDR 2m Band
Comment=openwebrx for 2m band
Icon=/home/pi/Downloads/sdr.ico
Path=/home/pi
Terminal=true
Categories=HamRadio
Keywords=Ham Radio;SDR
