[Desktop Entry]
Name=SSTV Decode using QSSTV 
GenericName=Decodes SSTV using rtl_fm and QSSTV
Comment=SSTV signals
Exec=/home/pi/CubeSatSim/groundstation/sstv_decode_prompt.sh
Icon=/usr/share/qsstv/qsstv.png
Terminal=true
Type=Application
Categories=HamRadio;
Keywords=SSTV;ISS;
