[Desktop Entry]
Type=Application
Exec=/home/pi/CubeSatSim/groundstation/sdr.sh
Name=Web SDR
Comment=openwebrx for Web SDR 
Icon=/home/pi/Downloads/openwebrx.png
Path=/home/pi
Terminal=true
Categories=HamRadio
Keywords=Ham Radio;SDR
